<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastAndroidCamera" version="2.0.0" targetFramework="monoandroid41" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="monoandroid81" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.14" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.core" version="1.1.14" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.14" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.14" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.4.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="25.4.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.4.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="25.4.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.4.0.1" targetFramework="monoandroid81" />
  <package id="ZXing.Net.Mobile" version="2.4.1" targetFramework="monoandroid81" />
</packages>