<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="de.stryi.Vorratsuebersicht"
          android:installLocation="auto"
          android:versionCode="77"
          android:versionName="4.45">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application 
    android:label="Vorratsübersicht"
    android:icon="@drawable/ic_launcher">

    <provider
      android:name="android.support.v4.content.FileProvider"
      android:authorities="de.stryi.exportcsv.fileprovider"
      android:grantUriPermissions="true"
      android:exported="false">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/provider_paths"/>
    </provider>
    
  </application>
  
</manifest>
