<?xml version="1.0" encoding="utf-8"?>
<manifest
	android:versionCode="137"
	android:versionName="8.00-beta1"
	package="de.stryi.Vorratsuebersicht"
	android:installLocation="auto"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="33" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<queries>
		<!-- MediaPicker -->
		<intent>
			<action android:name="android.media.action.IMAGE_CAPTURE" />
		</intent>
	</queries>
	<application android:label="@string/App_Name" android:requestLegacyExternalStorage="true" android:icon="@drawable/ic_launcher">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="de.stryi.exportcsv.fileprovider" android:grantUriPermissions="true" android:exported="false">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
		</provider>
	</application>
</manifest>